.header {
  nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    transition: opacity 2.5 ease;
    &__img {
      width: 100px;
      transition: opacity 2.5 ease;
    }
  }
  &-buttons {
    &-sub {
      width: 120px;
      padding: 12px;
    }
  }
}
.hero {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 35px;
  justify-content: space-between;
  align-items: center;
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__caption__title {
      width: 60%;
    }

    &__img {
      width: 100%;
      max-height: 400px;
    }
  }

  &-characters {
    max-width: 640px;
    width: 100%;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(10%, 120px));
    gap: 3px;
    justify-items: center;

    &__itens {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        z-index: 1;
        border-radius: 15px;
        transition: 2s;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
      }
      &__text {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        position: absolute;
        z-index: 0;
        top: 40;
        left: 0;
        h2 {
          padding-bottom: 25px;
        }
      }
      &:hover {
        img {
          z-index: -1;
          scale: 99%;
        }
      }
    }
  }
}
.plans {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    padding: 36px 35px 100px 35px;
    justify-content: center;
    gap: 32px;
    text-align: center;
    &__card {
      &__iten {
        display: flex;
        flex-direction: column;
        list-style: none;
        transition: 2.5s;

        &:hover {
          scale: 109%;
        }
        &__text {
          position: relative;
          z-index: 2;
        }
        &__title {
          padding-top: 65px;
          padding-left: 16px;
          text-align: start;
        }
        &__price {
          padding-top: 8px;
          padding-left: 88px;
          text-align: start;
        }
        &__caption {
          width: 70%;
          padding-top: 16px;
          padding-bottom: 8px;
        }
        &__button {
          justify-content: center;
          border: none;
          border-radius: 24px;
          align-items: start;
          margin-right: 120px;
        }
        &__img {
          position: absolute;
          max-width: 400px;
          margin: 0 auto;
          align-items: start;
        }
      }
    }
  }
}
.whatch {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 36px;
    padding: 70px 35px 104px 35px;
    justify-content: center;
  }
  &-content {
    display: none;

    &--active {
      display: grid;
      grid-template-columns: repeat(3, 400px);
      grid-template-rows: repeat(2, 200px);
      gap: 36px;
      padding: 0 35px 150px 35px;
      justify-content: center;
    }
  }
}
.about {
  height: 100vh;
  margin-bottom: 150px;
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    column-gap: 10%;
    padding: 150px 35px 32px 35px;
    justify-content: center;
    align-items: center;
  }
}
.watch-anywhere {
  height: 150vh;
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    padding: 150px 85px 100px 85px;
    align-items: center;
    &__iten {
      &__img {
        width: 464px;
        height: 664px;
      }
      &__title {
        font-size: 56px;
        img {
          width: 48px;
        }
      }
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    padding: 150px 32px 32px 32px;
    align-items: center;
    list-style: none;
    &__iten {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      &__img {
        max-width: 208px;
        margin-bottom: 32px;
        display: block;
      }
      &__title {
        font-size: 21px;
        padding-bottom: 16px;
      }
      &__text {
        font-size: 16px;
      }
    }
  }
}
.faq {
  margin-top: 5%;
  height: 70vh;
  margin-bottom: 88px;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-lis {
    &__item {
      margin-bottom: 16px;
      overflow: hidden;
      position: relative;
      border-radius: 16px;
      &__question {
        &::after {
          content: "+";
          display: flex;
          position: absolute;
          align-items: center;
          top: 0;
          right: 24px;
          height: 100%;
        }
        padding: 24px;
      }
      &__answer {
        height: 0;
        overflow: hidden;
      }
      &--is-active {
        .faq-lis__item__question::after {
          content: "-";
        }
        .faq-lis__item__answer {
          padding: 24px;
          height: auto;
        }
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px 100px 85px;
  align-items: center;
  color: white;
  &__img {
    display: block;
    width: 150px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
    a {
      text-decoration: none;
      color: white;
      margin-right: 10px;
    }
  }
  &__text {
    text-align: center;
  }
}
