@use "../config/variaveis.scss";
@use "../config/reset.scss";

// grid da secao
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 1050px;
  margin: 0 auto;

  @media screen and (max-width: 1050px) {
    max-width: 560px;
  }

  &__img {
    display: block;
    width: 150px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;

    @media screen and (max-width: 1050px) {
      display: grid;
      gap: 9px;
      justify-content: center;
      text-align: center;
      grid-template-columns: 1fr 1fr 1fr;
    }

    a {
      text-decoration: none;
      color: white;
      margin-right: 10px;
      @media screen and (max-width: 1050px) {
        border: 1px solid white;
        border-radius: 8px;
        padding: 8px;
      }
    }
  }
  &__text {
    text-align: center;
  }
}

// estilisacao dos componentes
.footer {
  &__img {
    display: block;
  }
  &__list {
    &__select {
      display: flex;
      justify-content: center;
      align-items: center;
      &__options {
        background: transparent;
        border-radius: 36px;
        color: white;
        margin-right: 10px;
        border: none;
        option {
          background: variaveis.$CorDeFundo;
        }
      }
      &__img {
        width: 36px;
        margin-right: 6px;
      }
    }
  }
}
