@use "../config/variaveis.scss";
@use "../config/reset.scss";

.hero {
  &__content {
    align-items: center;

    &__caption__title {
      font-size: 32px;
      color: variaveis.$CorDaLetra;
      margin-bottom: 45px;
      width: 100%;

      b {
        color: variaveis.$CorFundoButton;
      }
    }

    &__button {
      background-color: variaveis.$CorFundoButton;
      height: 72px;
      width: 100%;
      font-family: variaveis.$FonteTexto;
      font-size: 26px;
      border-radius: 37px;
      font-weight: bold;
    }

    &__caption {
      color: variaveis.$SmallText;
      font-size: 16px;
    }
  }
  &-characters {
    &__itens {
      p {
        font-weight: bold;
      }
      &__text {
        h2 {
          color: #20bf6b;
        }
      }
    }
  }
}
