@use "../config/variaveis.scss";
@use "../config/reset.scss";

.hero {
  display: grid;
  grid-template-columns: 640px 312px;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 65px;

  @media screen and (max-width: 1050px) {
    max-width: 560px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 215px;
    row-gap: 26px;
  }

  @media screen and (max-width: 500px) {
    max-width: 248px;
    grid-template-columns: 1fr;
    grid-template-rows: 144px 88px;
    row-gap: 12px;
  }

  &__content {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1049px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    @media screen and (max-width: 340px) {
      display: flex;
      justify-content: space-between;
    }

    &__caption__title {
      width: 60%;
      @media screen and (max-width: 1049px) {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }

    &__hero__img {
      width: 100%;
      max-height: 400px;

      @media screen and (max-width: 1049px) {
        max-width: 215px;
        width: 100%;
        max-height: 215px;
      }
    }
  }

  &-characters {
    width: 100%;
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(5, 120px);
    column-gap: 11px;
    justify-content: center;

    @media screen and (max-width: 1049px) {
      grid-template-columns: repeat(5, 88px);
      column-gap: 8px;
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(5, 45px);
      column-gap: 4px;
    }

    &__itens {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      @media screen and (max-width: 1049px) {
        height: 288px;
      }

      @media screen and (max-width: 500px) {
        height: 144px;
      }

      img {
        z-index: 1;
        border-radius: 15px;
        transition: 2s;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
      }
      &__text {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        position: absolute;
        z-index: 0;
        left: 0;
        height: 80%;
        @media screen and (max-width: 1050px) {
          font-size: 9px;
        }
        h2 {
          padding-bottom: 25px;
        }
      }
      &:hover {
        img {
          z-index: -1;
          transform: scale(1.2);
        }
      }
    }
  }
}

.hero {
  &__content {
    align-items: center;

    &__caption__title {
      color: variaveis.$CorDaLetra;
      width: 100%;

      b {
        color: variaveis.$CorFundoButton;
      }
    }

    &__button {
      background-color: variaveis.$CorFundoButton;
      width: 100%;
      font-family: variaveis.$FonteTexto;
      font-size: 26px;
      border-radius: 37px;
      font-weight: bold;
      border: none;
      padding: 8px;

      @media screen and (max-width: 1049px) {
        max-width: 150px;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    &__caption {
      color: variaveis.$SmallText;
      font-size: 16px;
    }
  }
  &-characters {
    &__itens {
      p {
        font-weight: bold;
      }
      &__text {
        h2 {
          color: #20bf6b;
        }
      }
    }
  }
}
