@use '../config/variaveis.scss';
@use '../config/reset.scss';

.plans{
    
    h4{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        color: variaveis.$CorFundoButton;
        font-size: 36px;
    }
    &-list{
        &__card{
            &__iten{
                text-decoration: none;
                &__title{
                    font-size: 24px;
                    text-transform: uppercase;
                    color: variaveis.$CorDaLetra ;
                }
                &__price{
                    font-size: 16px;
                    text-transform: uppercase;
                    color: variaveis.$CorDaLetra;
                }
                &__caption{
                    font-size: 8px;
                    color: variaveis.$SmallText ;
                }
                &__button{
                    width: 144px;
                    height: 32px;
                    background-color: variaveis.$CorFundoButton;
                    font-size: 16px;
                }
            }
        }
    }

}