@use '../config/variaveis.scss';
@use '../config/reset.scss';

// grid da secao 
.watch-anywhere {
    height: 150vh;
    &-content {
      display: grid;
      grid-template-columns: repeat(2, 40%);
      justify-content: center;
      padding: 150px 85px 100px 85px;
      align-items: center;
      &__iten {
        &__img {
          width: 464px;
          height: 664px;
        }
        &__title {
          font-size: 56px;
          img {
            width: 48px;
          }
        }
      }
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      justify-content: center;
      padding: 150px 32px 32px 32px;
      align-items: center;
      list-style: none;
      &__iten {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        &__img {
          max-width: 208px;
          margin-bottom: 32px;
          display: block;
        }
        &__title {
          font-size: 21px;
          padding-bottom: 16px;
        }
        &__text {
          font-size: 16px;
        }
      }
    }
  }

// estilisavao da secao
.watch-anywhere{
    &-content{
        list-style: none;
        &__iten{
            list-style: none;
            &__title{
                font-size: 56px;
                color: variaveis.$CorFundoButton ;
                padding-bottom: 16px;
                text-align: center;
                list-style: none;
            }
            &__subtitle{
                font-size: 24px;
                text-align: center;
                color: variaveis.$SmallText ;
                list-style: none;
                padding-bottom: 16px;
            }
            &__text{
                font-size: 16px;
                text-align: center;
                color: variaveis.$CorDaLetra ;
                line-height: 20px;
            }
        }
    }
    h2{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        color: variaveis.$CorFundoButton;
        font-size: 36px;
    }
    &-list{
        &__iten{
            &__title{
                font-size: 21px;
                color: variaveis.$CorFundoButton ;
                text-align: center;
            }
            &__text{
                font-size: 16px;
                color: variaveis.$SmallText ;
                text-align: center;
            }
    }
}
}